
.card img:hover{
    width: 18.3rem;
    
    animation-delay: 20s;
}

.navbar{
    background-color: rgb(164, 159, 159);
    font-family: cursive;
    font-weight: 650;
}

.navbar a{
    color: white;
}

.nav-item a:hover{
    color: black;

}

.collage a:hover{
    opacity: 0.5;
}

.bkg{
    position: relative;
    height: 100vh;
    background-image: url(images/bg.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;


}
.bkg::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,black,black);
    opacity: 0.5;
    z-index: -1;
} 

.main {
    background-color: white;
    padding: 15px;
    line-height: 1.7;
    border-radius: 0px 0px 25px 25px;
    box-shadow:  10px 10px 0 0 rgb(85, 85, 85);
    font-family: cursive;
}

.main1{
    display: flex;
    justify-content: start;
}

.widget a{
    text-decoration: none;
    line-height: 1.7;
    color: black;
    
}


.inner a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}


