
.card img:hover{
    width: 18.3rem;
    animation-delay: 20s;
}

footer{
    background-color: rgb(164, 159, 159);
}

.main {
    background-color: white;
    padding: 15px;
    line-height: 1.7;
    border-radius: 0px 0px 25px 25px;
    box-shadow:  10px 10px 0 0 rgb(85, 85, 85);
}

.widget a{
    text-decoration: none;
    line-height: 1.7;
    color: black;
    
}

.inner a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}


