
.card img:hover{
    width: 18.3rem;
    
    animation-delay: 20s;
}

footer{
    background-color: rgb(164, 159, 159);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
}

.mini {
    background-color: white;
    padding: 15px;
    line-height: 1.7;
    border-radius: 0px 0px 25px 25px;
    box-shadow:  10px 10px 0 0 rgb(85, 85, 85);
}

.mini h4 {
    display: inline-block;
}

.mini p {
    margin: 20px;
    text-align: justify;
    color: rgb(45, 2, 86);
}

.container h3{
    text-align: center;
}


.container ul li{
    list-style-type: none;
    line-height: 1.7;
    text-align: center;
}

.container p{
    display: inline-block;
    color: rgb(45, 2, 86);

}

.container ul li a{
    text-decoration: none;
    color: rgb(45, 2, 86);
    font-size: 18px;
}

.bottom{
    padding: 15px;
}

.bottom p {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
}

.bottom a{
    text-decoration: none;
}